# Byte-compiled
__pycache__/

# Distribution / packaging
dist/
run_module.py
docs/build

# Unit test / coverage reports
img_test/
.coverage
.coverage.*

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
